@import "../../sass/init";

.auth-header {
  display: flex;
  align-content: center;
  width: 100%;
  height: 100px;
  padding: 0 30px;
  background-color: mediumaquamarine;
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}
